albumentations
fastapi
Flask
ipython
matplotlib
numpy
onnx
onnxruntime
onnxruntime_gpu
opencv_contrib_python
opencv_python
libopencv
opencv
opencv_python_headless
pandas
Pillow
psutil
streamlit
tqdm
ultralytics
ultralytics_thop
uvicorn
